openapi: 3.0.3
info:
  title: Extensiv 3PL Warehouse Manager API (modeled) Authentication Inventory API
  version: 1.0.0
  description: 'Modeled OpenAPI description of the Extensiv 3PL Warehouse Manager REST API (formerly the 3PL Central REST API). Authentication is CONFIRMED against Extensiv''s public help documentation: a Base64-encoded "Client ID:Client Secret" authorization header plus a grant_type is POSTed to https://secure-wms.com/AuthServer/api/Token to mint a short-lived bearer access token (typically valid 30-60 minutes), which is then sent as `Authorization: Bearer <token>` on all resource calls.

    The resource endpoints below (orders, inventory, stock summaries, items, customers, receivers/ASN, warehouses) are MODELED from Extensiv''s publicly documented resource areas and common API use cases. The full request/response reference at developer.extensiv.com is a JavaScript-rendered developer portal and is effectively gated, so exact paths, query parameters, and payload schemas here are honestly modeled and should be reconciled against the live reference. The 3PL Warehouse Manager REST API is a HATEOAS/HAL-style hypermedia API; only HTTPS is supported (no plain HTTP).

    NOTE: The SecureWMS / 3PL Warehouse Manager REST API is profiled in more detail in the sibling all/3plcentral catalog entry. This description supports the Extensiv company/platform entry.'
  contact:
    name: Extensiv API Access
    email: api@extensiv.com
    url: https://help.extensiv.com/en_US/rest-api
  license:
    name: Proprietary - Extensiv Terms of Service
    url: https://www.extensiv.com
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager REST API (production, HTTPS only). endpointsConfirmed = auth only; resource endpoints are endpointsModeled.
tags:
- name: Inventory
  description: On-hand inventory and stock summaries (endpointsModeled).
paths:
  /inventory:
    get:
      tags:
      - Inventory
      summary: Retrieve inventory (endpointsModeled)
      description: Retrieve on-hand inventory, optionally filtered by customer, facility, or a received-on/before date.
      parameters:
      - name: rql
        in: query
        schema:
          type: string
      - name: pgsiz
        in: query
        schema:
          type: integer
      - name: pgnum
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A collection of inventory records.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/InventoryCollection'
      security:
      - bearerAuth: []
  /inventory/stockSummaries:
    get:
      tags:
      - Inventory
      summary: Retrieve stock summaries (endpointsModeled)
      description: Rolled-up available/on-hand/committed quantities by SKU.
      parameters:
      - name: facilityId
        in: query
        schema:
          type: integer
      - name: customerId
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Stock summary records.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/StockSummaryCollection'
      security:
      - bearerAuth: []
components:
  schemas:
    StockSummaryCollection:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            stockSummaries:
              type: array
              items:
                $ref: '#/components/schemas/StockSummary'
    StockSummary:
      type: object
      properties:
        sku:
          type: string
        onHand:
          type: number
        available:
          type: number
        committed:
          type: number
    InventoryRecord:
      type: object
      properties:
        itemIdentifier:
          type: string
        customerId:
          type: integer
        facilityId:
          type: integer
        onHand:
          type: number
        available:
          type: number
        receivedDate:
          type: string
          format: date-time
    InventoryCollection:
      type: object
      properties:
        totalResults:
          type: integer
        _embedded:
          type: object
          properties:
            inventory:
              type: array
              items:
                $ref: '#/components/schemas/InventoryRecord'
  securitySchemes:
    basicClientCredentials:
      type: http
      scheme: basic
      description: Base64-encoded "Client ID:Client Secret" used only against /AuthServer/api/Token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived bearer access token minted by the auth server.
