openapi: 3.2.0
info:
  title: Extensiv 3PL Warehouse Manager API (modeled) Items API
  version: 1.0.0
  description: Modeled OpenAPI description of the Extensiv 3PL Warehouse Manager REST API (formerly the 3PL Central REST API).
  contact:
    name: Extensiv API Access
    email: api@extensiv.com
    url: https://help.extensiv.com/en_US/rest-api
  license:
    name: Proprietary - Extensiv Terms of Service
    url: https://www.extensiv.com
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager REST API (production, HTTPS only). endpointsConfirmed = auth only; resource endpoints are endpointsModeled.
tags:
- name: Items
  description: Customer SKU/item master (endpointsModeled).
paths:
  /customers/{customerId}/items:
    get:
      tags:
      - Items
      summary: List a customer's items/SKUs (endpointsModeled)
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: integer
      - name: rql
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A collection of items.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ItemCollection'
      security:
      - bearerAuth: []
      operationId: getCustomersByCustomerIdItems
      x-operation-id-source: derived
components:
  schemas:
    Item:
      type: object
      properties:
        itemId:
          type: integer
        sku:
          type: string
        description:
          type: string
    ItemCollection:
      type: object
      properties:
        totalResults:
          type: integer
        _embedded:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Item'
  securitySchemes:
    basicClientCredentials:
      type: http
      scheme: basic
      description: Base64-encoded "Client ID:Client Secret" used only against /AuthServer/api/Token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived bearer access token minted by the auth server.
