openapi: 3.2.0
info:
  title: Extensiv 3PL Warehouse Manager API (modeled) Customers API
  version: 1.0.0
  description: Modeled OpenAPI description of the Extensiv 3PL Warehouse Manager REST API (formerly the 3PL Central REST API).
  contact:
    name: Extensiv API Access
    email: api@extensiv.com
    url: https://help.extensiv.com/en_US/rest-api
  license:
    name: Proprietary - Extensiv Terms of Service
    url: https://www.extensiv.com
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager REST API (production, HTTPS only). endpointsConfirmed = auth only; resource endpoints are endpointsModeled.
tags:
- name: Customers
  description: Customer/tenant accounts (endpointsModeled).
paths:
  /customers:
    get:
      tags:
      - Customers
      summary: List customers (endpointsModeled)
      responses:
        '200':
          description: A collection of customers.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CustomerCollection'
      security:
      - bearerAuth: []
      operationId: getCustomers
      x-operation-id-source: derived
  /customers/{customerId}:
    get:
      tags:
      - Customers
      summary: Retrieve a customer (endpointsModeled)
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The requested customer.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Customer'
      security:
      - bearerAuth: []
      operationId: getCustomersByCustomerId
      x-operation-id-source: derived
components:
  schemas:
    Customer:
      type: object
      properties:
        customerId:
          type: integer
        companyName:
          type: string
    CustomerCollection:
      type: object
      properties:
        totalResults:
          type: integer
        _embedded:
          type: object
          properties:
            customers:
              type: array
              items:
                $ref: '#/components/schemas/Customer'
  securitySchemes:
    basicClientCredentials:
      type: http
      scheme: basic
      description: Base64-encoded "Client ID:Client Secret" used only against /AuthServer/api/Token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived bearer access token minted by the auth server.
