openapi: 3.2.0
info:
  title: Extensiv 3PL Warehouse Manager API (modeled) Receivers API
  version: 1.0.0
  description: Modeled OpenAPI description of the Extensiv 3PL Warehouse Manager REST API (formerly the 3PL Central REST API).
  contact:
    name: Extensiv API Access
    email: api@extensiv.com
    url: https://help.extensiv.com/en_US/rest-api
  license:
    name: Proprietary - Extensiv Terms of Service
    url: https://www.extensiv.com
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager REST API (production, HTTPS only). endpointsConfirmed = auth only; resource endpoints are endpointsModeled.
tags:
- name: Receivers
  description: Inbound receivers / ASNs (endpointsModeled).
paths:
  /inventory/receivers:
    get:
      tags:
      - Receivers
      summary: List receivers / ASNs (endpointsModeled)
      responses:
        '200':
          description: A collection of receivers.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReceiverCollection'
      security:
      - bearerAuth: []
      operationId: getInventoryReceivers
      x-operation-id-source: derived
    post:
      tags:
      - Receivers
      summary: Create a receiver / ASN (endpointsModeled)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Receiver'
      responses:
        '201':
          description: Receiver created.
      security:
      - bearerAuth: []
      operationId: postInventoryReceivers
      x-operation-id-source: derived
  /inventory/receivers/{receiverId}:
    get:
      tags:
      - Receivers
      summary: Retrieve a receiver / ASN (endpointsModeled)
      parameters:
      - name: receiverId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The requested receiver.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Receiver'
      security:
      - bearerAuth: []
      operationId: getInventoryReceiversByReceiverId
      x-operation-id-source: derived
components:
  schemas:
    ReceiverCollection:
      type: object
      properties:
        totalResults:
          type: integer
        _embedded:
          type: object
          properties:
            receivers:
              type: array
              items:
                $ref: '#/components/schemas/Receiver'
    OrderItem:
      type: object
      properties:
        orderItemId:
          type: integer
        itemIdentifier:
          type: string
        qty:
          type: number
    Receiver:
      type: object
      properties:
        receiverId:
          type: integer
        customerId:
          type: integer
        facilityId:
          type: integer
        referenceNum:
          type: string
        receiveItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
  securitySchemes:
    basicClientCredentials:
      type: http
      scheme: basic
      description: Base64-encoded "Client ID:Client Secret" used only against /AuthServer/api/Token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived bearer access token minted by the auth server.
