openapi: 3.2.0
info:
  title: Extensiv 3PL Warehouse Manager API (modeled) Warehouses API
  version: 1.0.0
  description: Modeled OpenAPI description of the Extensiv 3PL Warehouse Manager REST API (formerly the 3PL Central REST API).
  contact:
    name: Extensiv API Access
    email: api@extensiv.com
    url: https://help.extensiv.com/en_US/rest-api
  license:
    name: Proprietary - Extensiv Terms of Service
    url: https://www.extensiv.com
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager REST API (production, HTTPS only). endpointsConfirmed = auth only; resource endpoints are endpointsModeled.
tags:
- name: Warehouses
  description: Physical facilities (endpointsModeled).
paths:
  /facilities:
    get:
      tags:
      - Warehouses
      summary: List warehouses/facilities (endpointsModeled)
      responses:
        '200':
          description: A collection of facilities.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/FacilityCollection'
      security:
      - bearerAuth: []
      operationId: getFacilities
      x-operation-id-source: derived
components:
  schemas:
    FacilityCollection:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            facilities:
              type: array
              items:
                $ref: '#/components/schemas/Facility'
    Facility:
      type: object
      properties:
        facilityId:
          type: integer
        name:
          type: string
  securitySchemes:
    basicClientCredentials:
      type: http
      scheme: basic
      description: Base64-encoded "Client ID:Client Secret" used only against /AuthServer/api/Token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived bearer access token minted by the auth server.
