openapi: 3.2.0
info:
  title: Extensiv 3PL Warehouse Manager API (modeled) Orders API
  version: 1.0.0
  description: Modeled OpenAPI description of the Extensiv 3PL Warehouse Manager REST API (formerly the 3PL Central REST API).
  contact:
    name: Extensiv API Access
    email: api@extensiv.com
    url: https://help.extensiv.com/en_US/rest-api
  license:
    name: Proprietary - Extensiv Terms of Service
    url: https://www.extensiv.com
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager REST API (production, HTTPS only). endpointsConfirmed = auth only; resource endpoints are endpointsModeled.
tags:
- name: Orders
  description: Sales/fulfillment orders (endpointsModeled).
paths:
  /orders:
    get:
      tags:
      - Orders
      summary: List orders (endpointsModeled)
      parameters:
      - name: pgsiz
        in: query
        description: Page size.
        schema:
          type: integer
      - name: pgnum
        in: query
        description: Page number.
        schema:
          type: integer
      - name: rql
        in: query
        description: Resource Query Language filter (e.g. by customer, status, date).
        schema:
          type: string
      responses:
        '200':
          description: A paged collection of orders.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OrderCollection'
      security:
      - bearerAuth: []
      operationId: getOrders
      x-operation-id-source: derived
    post:
      tags:
      - Orders
      summary: Create an order (endpointsModeled)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: Order created.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Order'
      security:
      - bearerAuth: []
      operationId: postOrders
      x-operation-id-source: derived
  /orders/{orderId}:
    get:
      tags:
      - Orders
      summary: Retrieve an order (endpointsModeled)
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The requested order.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found.
      security:
      - bearerAuth: []
      operationId: getOrdersByOrderId
      x-operation-id-source: derived
    put:
      tags:
      - Orders
      summary: Update an order (endpointsModeled)
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: Order updated.
      security:
      - bearerAuth: []
      operationId: putOrdersByOrderId
      x-operation-id-source: derived
components:
  schemas:
    OrderItem:
      type: object
      properties:
        orderItemId:
          type: integer
        itemIdentifier:
          type: string
        qty:
          type: number
    Order:
      type: object
      properties:
        orderId:
          type: integer
        customerId:
          type: integer
        referenceNum:
          type: string
        facilityId:
          type: integer
        status:
          type: string
        orderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
    OrderCollection:
      type: object
      properties:
        totalResults:
          type: integer
        _embedded:
          type: object
          properties:
            orders:
              type: array
              items:
                $ref: '#/components/schemas/Order'
  securitySchemes:
    basicClientCredentials:
      type: http
      scheme: basic
      description: Base64-encoded "Client ID:Client Secret" used only against /AuthServer/api/Token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived bearer access token minted by the auth server.
