openapi: 3.2.0
info:
  title: Extensiv 3PL Warehouse Manager API (modeled) Inventory API
  version: 1.0.0
  description: Modeled OpenAPI description of the Extensiv 3PL Warehouse Manager REST API (formerly the 3PL Central REST API).
  contact:
    name: Extensiv API Access
    email: api@extensiv.com
    url: https://help.extensiv.com/en_US/rest-api
  license:
    name: Proprietary - Extensiv Terms of Service
    url: https://www.extensiv.com
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager REST API (production, HTTPS only). endpointsConfirmed = auth only; resource endpoints are endpointsModeled.
tags:
- name: Inventory
  description: On-hand inventory and stock summaries (endpointsModeled).
paths:
  /inventory:
    get:
      tags:
      - Inventory
      summary: Retrieve inventory (endpointsModeled)
      description: Retrieve on-hand inventory, optionally filtered by customer, facility, or a received-on/before date.
      parameters:
      - name: rql
        in: query
        schema:
          type: string
      - name: pgsiz
        in: query
        schema:
          type: integer
      - name: pgnum
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A collection of inventory records.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/InventoryCollection'
      security:
      - bearerAuth: []
      operationId: getInventory
      x-operation-id-source: derived
  /inventory/stockSummaries:
    get:
      tags:
      - Inventory
      summary: Retrieve stock summaries (endpointsModeled)
      description: Rolled-up available/on-hand/committed quantities by SKU.
      parameters:
      - name: facilityId
        in: query
        schema:
          type: integer
      - name: customerId
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Stock summary records.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/StockSummaryCollection'
      security:
      - bearerAuth: []
      operationId: getInventoryStockSummaries
      x-operation-id-source: derived
components:
  schemas:
    InventoryRecord:
      type: object
      properties:
        itemIdentifier:
          type: string
        customerId:
          type: integer
        facilityId:
          type: integer
        onHand:
          type: number
        available:
          type: number
        receivedDate:
          type: string
          format: date-time
    InventoryCollection:
      type: object
      properties:
        totalResults:
          type: integer
        _embedded:
          type: object
          properties:
            inventory:
              type: array
              items:
                $ref: '#/components/schemas/InventoryRecord'
    StockSummaryCollection:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            stockSummaries:
              type: array
              items:
                $ref: '#/components/schemas/StockSummary'
    StockSummary:
      type: object
      properties:
        sku:
          type: string
        onHand:
          type: number
        available:
          type: number
        committed:
          type: number
  securitySchemes:
    basicClientCredentials:
      type: http
      scheme: basic
      description: Base64-encoded "Client ID:Client Secret" used only against /AuthServer/api/Token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived bearer access token minted by the auth server.
